{% load static %}
<header>
    <div class="container">
        <div class="top-bar">
            <div class="logo-container">
                <a href="/" style="text-decoration: none;">
                    <h1><span style="color: #FFA500;">TUFA</span><span style="color: #333;">MACHINE</span></h1>
                </a>
            </div>
            <div class="top-right">
                <div class="lang-switcher">
        <div id="lang-toggle-btn" 
           data-target-lang="sk" 
           class="lang-emoji-btn">
          <div id="current-lang-flag" class="lang-flag lang-flag-sk"></div>
          <span id="current-lang-text">Slovensky</span>
      </div>
  </div>
            </div>
        </div>
    </div>
</header>